!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    :css
      .container {
          text-align: right;
      }
      h1 {
        text-align: center;
        position: absolute;
        width: 50%;
        left: 15px;
        bottom: 820px;
      }
  %body
  .container
    %h1 Posts
    %br/
    = link_to 'Add Post', new_post_path
    %br/
    %table.table.table-striped.sortable
      %thead
        %tr
          %th Title
          %th Genre
          %th Author
          %th Description
          %th Pages
          %th{:colspan => "3"}
      %tbody
        - @posts.each do |post|
          %tr
            %td
              = post.title
            %td
              = post.genre
            %td
              = post.author&.name
            %td
              = post.description
            %td
              = post.pages
            %td
              %a{ href: "#{edit_post_path(id: post.id)}", :title => 'Edit' }
                %i.fa.fa-pencil-square-o{:style => "font-size:20px"}>
            %td
              %a.btn-delete{{ href: post_path(id: post.id)}, data: { remote: true, method: 'delete'}, 'data-confirm': 'Are you sure to remove the post?' }
                %i.fa.fa-trash{:style => "font-size:20px"}>
