.container
  %p#notice
    = notice
  %p
    %strong Name:
    = @author.name
  %p
    %strong Age:
    = @author.age
  %p
    %strong Details:
    = @author.details
  = link_to 'Edit', edit_author_path(@author)
  |
  \#{link_to 'Back', authors_path}
