!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Blog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap", :rel => "stylesheet"}/
  %body
    %header
      %h1 Books
      %nav
        %ul
          %li
            %a{:href => "http://localhost:3000/"} Home
          %li
            %a{:href => "http://localhost:3000/posts"} Posts
          %li
            %a{:href => "http://localhost:3000/authors"} Authors
    = yield
